@keyframes appearanceBackground {
  0% {
    background-color: initial;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes animateOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.pop-up {
  position: relative;
  width: 60%;
  height: auto;
  top: 10%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid #ffffff;
}
.button-close {
  position: absolute;
  top: 0;
  right: 0;
}
.active-pop-up {
  animation: animateOpacity 0.5s;
  animation-fill-mode: forwards;
}
.background {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 199;
}
.active-background {
  animation: appearanceBackground 0.5s;
  animation-fill-mode: forwards;
}
.right-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  margin-top: -16px;
}
.left-arrow {
  position: absolute;
  left: 0;
  top: 50%;
  background: rgba(0, 0, 0, 0.5);
  width: 30px;
  height: 35px;
  margin-top: -16px;
}
.button-close {
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 35px;
  height: 35px;
  opacity: 0.4;
}
.button-close:hover {
  opacity: 1;
  transition: 0.3s;
}
.button-close::before,
.button-close::after {
  position: absolute;
  left: 17px;
  top: 2px;
  content: ' ';
  height: 30px;
  width: 2px;
  background-color: #ffffff;
}
.button-close::before {
  transform: rotate(45deg);
}
.button-close::after {
  transform: rotate(-45deg);
}
